***TASK 1- Dataset Merging***

In [2]:
# Importing libraries

import pandas as pd
import os

***Loading Data***

In [22]:
# Loading both CSVs from the data folder
transactions_df = pd.read_csv("../data/customer_transactions.csv")
social_profiles_df = pd.read_csv("../data/customer_social_profiles.csv")

# Display the first 5 rows of each dataset
print("Transactions:")
display(transactions_df.head())

print("Social Profiles:")
display(social_profiles_df.head())

Transactions:

,customer_id_legacy,transaction_id,purchase_amount,purchase_date,product_category,customer_rating
0,151,1001,408,2024-01-01,Sports,2.3
1,192,1002,332,2024-01-02,Electronics,4.2
2,114,1003,442,2024-01-03,Electronics,2.1
3,171,1004,256,2024-01-04,Clothing,2.8
4,160,1005,64,2024-01-05,Clothing,1.3

Social Profiles:

,customer_id_new,social_media_platform,engagement_score,purchase_interest_score,review_sentiment
0,A178,LinkedIn,74,4.9,Positive
1,A190,Twitter,82,4.8,Neutral
2,A150,Facebook,96,1.6,Positive
3,A162,Twitter,89,2.6,Positive
4,A197,Twitter,92,2.3,Neutral

***Merging Data***

In [13]:
print(transactions_df.columns)
print(social_profiles_df.columns)

Index(['customer_id_legacy', 'transaction_id', 'purchase_amount',
       'purchase_date', 'product_category', 'customer_rating'],
      dtype='object')
Index(['customer_id_new', 'social_media_platform', 'engagement_score',
       'purchase_interest_score', 'review_sentiment'],
      dtype='object')

In [16]:
set1 = set(transactions_df['customer_id_legacy'])
set2 = set(social_profiles_df['customer_id_new'])

intersection = set1.intersection(set2)
print(f"Matching customer IDs: {len(intersection)}")

Matching customer IDs: 0

In [27]:
import numpy as np

# Randomly assign a social profile to each transaction
social_profiles_sampled = social_profiles_df.sample(n=len(transactions_df), replace=True).reset_index(drop=True)
transactions = transactions_df.reset_index(drop=True)

merged_data = pd.concat([transactions, social_profiles_sampled], axis=1)

In [28]:
print(merged_data.head())

   customer_id_legacy  transaction_id  purchase_amount purchase_date  \
0                 151            1001              408    2024-01-01
1                 192            1002              332    2024-01-02
2                 114            1003              442    2024-01-03
3                 171            1004              256    2024-01-04
4                 160            1005               64    2024-01-05

  product_category  customer_rating customer_id_new social_media_platform  \
0           Sports              2.3            A160              LinkedIn
1      Electronics              4.2            A185                TikTok
2      Electronics              2.1            A155             Instagram
3         Clothing              2.8            A131              LinkedIn
4         Clothing              1.3            A195              LinkedIn

   engagement_score  purchase_interest_score review_sentiment
0                73                      2.0          Neutral
1                90                      3.4          Neutral
2                84                      3.1         Positive
3                87                      3.0         Positive
4                84                      3.7          Neutral

In [30]:
# Save merged dataset
merged_data.to_csv("../data/merged_dataset.csv", index=False)
print("Merged dataset saved to data/merged_dataset.csv")

Merged dataset saved to data/merged_dataset.csv